awx_kubeconfig: ""
awx_chart_version: ""
controller_host: null
controller_username: null
controller_password: null
ssl_verify: False
git:
  it_automation_bench_local_path: ""
  deploy_key_it_automation_bench_private_ssh_key_path: ""
  deploy_key_it_automation_bench_private_ssh_key_passphrase: ""
  deploy_key_agent_private_ssh_key_path: ""
  deploy_key_agent_private_ssh_key_passphrase: ""
  deploy_key_agent_analytics_sdk_private_ssh_key_path: ""
  deploy_key_agent_analytics_sdk_ssh_key_passphrase: ""

aws:
  access_key_id: ""
  secret_access_key: ""

kops:
  s3_bucket_name: ""

scenarios:
  - 1
  - 2
  - 5

# Defaults to 20 if not defined
number_of_runs: 20

# Defaults to all (metrics, logs, traces) if not defined
data_modalities:
  - metrics
  - traces
  - logs

# Agent Configuration
agent_configuration:
  llm_for_agents_config:
    llm_configuration_parameters: '{"temperature": 0.0, "max_new_tokens": 8192, "decoding_method": "greedy", "random_seed":42, "top_p":0.0000001}'
    llm_model_name: ""
    llm_backend: ""
    llm_base_url: ""
    llm_api_key: ""
    llm_project_id: ""
    enable_god_mode: true
  llm_for_tools_config:
    llm_configuration_parameters: '{"temperature": 0.0, "max_new_tokens": 8192, "decoding_method": "greedy", "random_seed":42, "top_p":0.0000001}'
    llm_model_name: ""
    llm_backend: ""
    llm_base_url: ""
    llm_api_key: ""
    llm_project_id: ""
    enable_god_mode: true
  agent_analytics_sdk:
    git_token: ""
    git_username: ""
  # Not supported - defaults to all
  # enable_tools: 
  #   - NL2Kubectl
  # # Toggling not supported at this time. Defaults to true
  # enable_tools_with_reflection: true
