# General Files

cloud-obs/

.DS_Store
*.retry

# Files associated with group variables
group_vars/all
group_vars/all.yaml
group_vars/e2e
group_vars/e2e.yaml

# Files associated with the remote cluster setup
remote_cluster/playbooks/secret.yaml
remote_cluster/playbooks/variables.yaml

# Sample application downloads
roles/sample_applications/DeathStarBench/

# Documentation validation files
DEBUG_*

# Python virtual environment files

venv/

# evaluation-specific ignore files
evaluation/paper_data/*
ground_truths.json
Incident_Data.md
Incident_Data.html
evaluation/result_*

# non opensource incidents
roles/incident_12/*
roles/incident_13/*
roles/incident_14/*
roles/incident_15/*
roles/incident_16/*
roles/incident_17/*
roles/incident_18/*
roles/incident_19/*
roles/incident_2/*
roles/incident_20/*
roles/incident_25/*
roles/incident_28/*
roles/incident_29/*
roles/incident_32/*
roles/incident_34/*
roles/incident_38/*
roles/incident_5/*
roles/incident_6/*
roles/incident_7/*
roles/incident_8/*
roles/incident_9/*
