# General Files

cloud-obs/

.DS_Store
*.retry

# Files associated with group variables
group_vars/all

# Files associated with the remote cluster setup
remote_cluster/playbooks/secret.yaml
remote_cluster/playbooks/variables.yaml

# Sample application downloads
roles/sample_applications/opentelemetry-helm-charts/
roles/sample_applications/DeathStarBench/

# Documentation validation files
DEBUG_*

# Python virtual environment files

venv/
