aws_region: "us-east-2" #  consider setting to "eu-central-1" for eu
control_node_type: "t3a.medium"
network_cni: "cilium"
zones: "us-east-2a" # consider setting to "eu-central-1a" for eu
kops_version: "v1.28.0"
kubectl_version: "v1.28.3"
ansible_python_interpreter: "/Library/Frameworks/Python.framework/Versions/3.12/bin/python3" # make sure to use the same environment for installing Ansible
