aws_region: "us-west-1"
control_node_type: "c4.xlarge"
network_cni: "cilium"
zones: "us-west-1a"
kops_version: "v1.30.3"
kubectl_version: "v1.32.0"
ansible_python_interpreter: "/opt/homebrew/Caskroom/miniconda/base/envs/aws/bin/python"
vpc_cidr: "10.0.0.0/16"     
public_subnet_base: "10.0"    
# Additional variables that were previously prompted:
cluster_count: 20           # must be < 100
node_count: 3             
cluster_name_prefix: "exp-runner"
instance_type: "c4.xlarge"
